main {
  margin-top: 60px;
}

#content {
  display: none;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

#fun_begins {
  width: 400px;
  height: auto;
}

#balanced {
  width: 550px;
  height: auto;
}

#never_met {
  width: 500px;
  height: auto;
}
